:root {
  --List-space: .3125rem;
}

/*　sircus-components-list
======================================== */

.ListInline,
.ListReset {
  padding-left: 0;
  list-style: none;
}

.ListInline {
  margin-left: calc(0 - var(--List-space));
}
.ListInline > li {
  display: inline-block;
  padding-left: var(--List-space);
  padding-right: var(--List-space);
}
